.myBtn {
    -fx-font-size: 14px;
    -fx-background-color: beige;
}

.myBtn:hover {
    -fx-background-color:bisque ;
}

.myBtn:pressed {
    -fx-background-color: aquamarine;
}

.centerPane{
    -fx-background-color: black;
    -fx-min-width: 80%;
    -fx-min-height: 400px;
    -fx-pref-height: 100%;
}

.nextStationRequest{
    -fx-background-color: coral;
}

.mainContainer{

}

.rightBorder{
    -fx-min-width: mainContainer.10% ;
    -fx-background-color: darkblue;
}

